.nav  {
    max-height: 100vh;
    color: #3fffff;
    flex: 1;
    border-right: 0.3rem solid #2e2e2e;
    ul {
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 1em;
        a {
            text-decoration: none;
        }
        a.active {
            color: #ff8c3f;
        }
    }
}